@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body{
	font-size: 0.9rem;
}
h1,h2,h3,h4,h5{
	font-family: 'Poppins', sans-serif;
	color: #2C2626;
}

.scrolling {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px auto;
    justify-content: center;
    overflow: auto;
}
.scand {
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    padding: 50px;
    color: black;
}
@media only screen and (min-width: 768px) {
    .jumbo {
        margin-top: 20vh;
    }
}